<div class="row">
  <div class="col-8">
    <div class="container p-3">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let producto of productos">
          <div class="card h-100 text-white bg-secondary mb-3">
            <img [src]="producto.urlImagen" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <p class="card-text">$ {{producto.precioVenta}}</p>
            </div>
            <button (click)="agregarACarrito(producto)" class="btn btn-dark">Dodaj u korpu</button>
            <button (click)="eliminarDeCarrito(producto)" class="btn btn-danger">Obrisi iz korpe</button>
            <!-- <a href="#" class="btn btn-dark">Agregar a carrito</a>-->
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-4">
     <h2>Korpa</h2>
     <table class="table table-primary table-striped">
       <thead>
       <tr>
         <th>Ime</th>
         <th>Kolicina</th>
         <th>Cena</th>
       </tr>
       </thead>
       <tbody>
       <tr *ngFor="let productoCompra of productosCompra">
         <th>{{productoCompra.nombre}}</th>
         <th>{{productoCompra.cantidad}}</th>
         <th>{{productoCompra.total}}</th>
       </tr>
       </tbody>
     </table>
     <p class="text-end">Ukupna cena: ${{totalCarrito}}</p>
     <div class="text-end">
       <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Id</span>
         <input [(ngModel)]="cliente" type="text" class="form-control" placeholder="Id korisnika" aria-label="Username" aria-describedby="basic-addon1">
       </div>
       <select  [(ngModel)]="medioPago" class="form-select" aria-label="Default select example">
         <option value="" selected disabled>Izaberite nacin placanja</option>
         <option value="e">Kreditna kartica</option>
         <option value="c">Licno</option>
         <option value="d">PayPal</option>
       </select>
       <button (click)="limpiarCompra()" type="button" class="btn btn-outline-danger">Ocisti korpu</button>
       <button (click)="guardarCompra()" type="button" class="btn btn-outline-success">Kupi</button>
     </div>
   </div>
 </div>

